/ReactiveTriangle/ReactiveTriangle/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
/ReactiveTriangle/ReactiveTriangle/appsettings.Development.json
/ReactiveTriangle/ReactiveTriangle/appsettings.json
/ReactiveTriangle/ReactiveTriangle/Properties/launchSettings.json
/ReactiveTriangle/ReactiveTriangle/obj/project.assets.json
/ReactiveTriangle/ReactiveTriangle/obj/project.nuget.cache
/ReactiveTriangle/ReactiveTriangle/obj/project.packagespec.json
/ReactiveTriangle/ReactiveTriangle/obj/Debug/net8.0/ReactiveTriangle.AssemblyInfo.cs
/ReactiveTriangle/ReactiveTriangle/obj/Debug/net8.0/ReactiveTriangle.AssemblyInfoInputs.cache
/ReactiveTriangle/ReactiveTriangle/obj/Debug/net8.0/ReactiveTriangle.assets.cache
/ReactiveTriangle/ReactiveTriangle/obj/Debug/net8.0/ReactiveTriangle.csproj.AssemblyReference.cache
/ReactiveTriangle/ReactiveTriangle/obj/ReactiveTriangle.csproj.nuget.dgspec.json
/ReactiveTriangle/ReactiveTriangle/obj/ReactiveTriangle.csproj.nuget.g.props
/ReactiveTriangle/ReactiveTriangle/obj/ReactiveTriangle.csproj.nuget.g.targets
/ReactiveTriangle/ReactiveTriangle/obj/Debug/net8.0/ReactiveTriangle.GeneratedMSBuildEditorConfig.editorconfig
/ReactiveTriangle/ReactiveTriangle/obj/Debug/net8.0/ReactiveTriangle.GlobalUsings.g.cs
/ReactiveTriangle/ReactiveTriangle/ReactiveTriangle.http
/ReactiveTriangle/ReactiveTriangle/obj/rider.project.restore.info
/.idea/vcs.xml
/ReactiveTriangle/.idea/.idea.ReactiveTriangle/.idea/vcs.xml
